body {
  background-size: cover;
  height: 100vh;
  background-color: #28294a;
  background-image: url("//frontend/public/bg1.png");
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(2, 0, 36) 0%,
    rgb(27, 27, 83) 35%,
    rgba(24, 50, 104, 0.3) 100%,
    rgb(0, 212, 255) 100%
  );
}
nav a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
nav div .dropdown-menu a {
  color: var(--bs-dropdown-link-color) !important;
}

.card-transparent {
  padding-bottom: 30px;
  height: 120px;
}

select {
  width: -moz-fit-content !important;
  width: fit-content !important;
  border-color: #bd8ce5 !important;
  background: transparent !important;
  color: white !important;
}

.glass {
  width: 320px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.buttonLabel {
  height: -moz-fit-content;
  height: fit-content;
}

form input {
  background-color: transparent !important;
  color: white !important;
  width: 280px !important;
}
form input::-moz-placeholder {
  color: white !important;
}
form input::placeholder {
  color: white !important;
}
form button {
  color: white !important;
  border-color: #bd8ce5 !important;
  width: 50%;
}
form button:hover {
  background-color: #a562dc !important;
}

.customBtn {
  background-color: transparent !important;
  color: white !important;
  border-color: #bd8ce5 !important;
  width: 50%;
}

.customBtn:hover {
  background-color: #a562dc !important;
}

div p {
  margin: 0;
}
